- if (keyword)
  p="keywords: " + keywords.join(' | ')
  ul
    - results.forEach(function(result){
      li
        p.title
          a(href=result.url)
            =result.title
        p.description
          =result.body
    - })
