- if (keyword)
  p="keywords: " + keywords.join(' | ')
  p="count: " + count
  //p
    a(href="/?k="+keyword+"&p="+(page-1), onclick="$.search(this.href); return false") << prev
    [
    =page
    ]
    a(href="/?k="+keyword+"&p="+(page+1), onclick="$.search(this.href); return false") Next >>

  ol
    - results.forEach(function(result){
      li
        p.title
          a(href=result.url, target="_blank")
            =result.title
        p.description
          != body_helper(result.plain, keywords)
    - })
  //p
    a(href="/?k="+keyword+"&p="+(page-1), onclick="$.search(this.href); return false") << prev
    [
    =page
    ]
    a(href="/?k="+keyword+"&p="+(page+1), onclick="$.search(this.href); return false") Next >>

